/***************/
/* LAYOUT */
/***************/

.routes-container {
  flex: 2; /* 佔據2份，這將使其占整個空間的2/3 */
  margin-left: 10%;
  margin-top: 5rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

/***************/
/* FONTS */
/***************/

/* General Styles */
body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  margin-top: 0;
}

h1 {
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 3rem;
  font-weight: 450;
}

h3 {
  font-size: 1.75rem;
  font-weight: 450;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* For other textual elements like paragraphs and links */
p,
a {
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
  line-height: 1.7;
}

/* For links */
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

/* General button styles, if any */
button {
  font-family: "Lato", sans-serif;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 1.75rem;
}

li {
  font-size: 1.3rem;
  line-height: 1.7;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
}

input,
select {
  margin-bottom: 2rem;
}
